<!-- add and edit chemicals -->
<!-- only add chemicals to an item -->
<script>


var addNewChemical = "<label>IUPAC name</label><input type='text' name='iupac'><br><label>Formula</label><input type='text' name='formula'><br><label>Description</label><input type='text' name='description'><br><label>LD50</label><input type='number' name='ld50'><br><label>Origin</label><input type='text' name='origin'><br><label>Image</label><input type='file' name='image'><br>";

var edit = "<input type='file' name='chemical[image]' accept='image/*'><br>";

// var categories = "<label>Category</label><select><% @categories.each do |category| %><option><%= category.name %></option><% end %></select><br>";


	$(document).ready(function(){
		$("#addNewChemical").click(function(){
			console.log("we are hovering");
			$("#adding_a_new_chemical").html(addNewChemical);
		});
		$('img').click(function(){
			console.log("clicked the image");
			$('#chemical_image_upload').append(edit);
		})
		$('#confirm_chemical').click(function(){
			console.log("confirmed!");
			$("#categorize").html(addCategories);
		});
		$('#select_a_category').submit(function(e){
			e.preventDefault();
			$.post(
				$(this).attr('action'),
				$(this).serialize(),
				function(data){
					console.log(data);
				for (i=0; i<data.subcategories.length; i++)
				{
					var id = data.subcategories[i].id
					var subcategory = "<input type='checkbox' name='subcat[]' value="+id+">"+data.subcategories[i].name+"</input><br>";
					if (i==0){
						$('.appendedsubcat').html(subcategory);
					}
					else{
					$('.appendedsubcat').append(subcategory);
					}
				}
				}, 
				'json');
			return false;
			});
		});

</script>
<div class="literacy_sidebar">
		<h3>Welcome, <%= @admin.username %>, you lovely person!</h3>
		<ul>
			<li><a href="/items/new">Add Item</a></li>
			<li><a href="#">Edit an item</a></li>
			<li><a href="#">Literacies</a></li>
			<li><a href="#">GMOs</a></li>
			<li><a href="#">Chemicals</a></li>
		</ul>
</div>
<div class="other">
		<div id="items">
		<% if flash[:errors] %>
		<% flash[:errors].each do |e| %>
		<%= e %>
		<% end %>
		<% end %>

		<% if flash[:success] %>
		<% flash[:success].each do |s| %>
		<%= s %>
		<% end %>
		<% end %>
			<div>
				<h3>Current Item: <%=@currentItem.name%><a href="/items/new"></h3><button>Edit <%=@currentItem.name%></button></a></h3>
			</div>

<!-- edit chemical -->

<!-- this part renders all added chemicals for this particular item -->
	<div id="added_chemicals">
		<%if @addedChemicals %>
		<h3> Added Chemicals </h3>
		<% @addedChemicals.each do |added| %>
			<div class="added"><%= added.name %></div>
		<% end %>
		<% end %>
	</div>

	<!-- this renders current chemical -->
<%if session[:chemical_id] %>
		<div id="editing_chemicals">
			<h3>Confirm <%= @currentChemical.name %> Details</h3>
				<form id ='edit_chemical' action='/chemicals' method='post'>
				<input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'>
				<input type="hidden" name="_method" value="patch">
						<label>Name</label><input type="text" name="chemical[name]" value="<%= @currentChemical.name%>"><br>
						<label>IUPAC</label><input type="text" name="chemical[iupac]" value="<%= @currentChemical.iupac%>"><br>
						<label>Formula</label><input type="text" name="chemical[formula]" value="<%= @currentChemical.formula%>"><br>
						<label>Description</label><textarea name="chemical[description]"><%= @currentChemical.description%></textarea><br>
						<label>LD50 (mg/kg)</label><input type="text" name="chemical[ld50]" value="<%= @currentChemical.ld50%>"><br>
						<label>Origin</label><input type="text" name="chemical[origin]" value="<%= @currentChemical.origin%>"><br>
						<label>Click Image to Edit</label><div id='chemical_image'><%= image_tag(@currentChemical.image)%></div><br>
						<div id="chemical_image_upload"></div>
					</tr>
				</tbody>
			</table>
			<button id="edit_chemical">Edit</button></form>
			<form id="confirm_chemical" action="/categories/confirm" method="post"><input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'><button id="confirm_chemical">Confirm</button></form>
	</div>
 <%else%>
<!-- renders the current chemical information -->
	<div id="editing_chemicals">
		<div id="chemicals">
			<h3>Add Chemical to Item</h3>
			<form id ='add_a_chemical' action='/chemicals' method='post'>
				<input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'>
				<label>Add an existing chemical:</label>
					<select id = "addExistingChemical" name="chemicalSelected">
						<option value=""></option>
						<% @chemicals.each do |chemical| %>
						<option value="<%=chemical.id%>"><%= chemical.name %></option>
						<% end %>
					</select><br>
					<div id="add_existing_chemical"></div>
				<label>Or add a new chemical:</label>
				<input id="addNewChemical" type='text' name='chemicalWritten'><br>
				<div id="adding_a_new_chemical"></div>
				<button>Add Chemical</button>
			</form>
		</div>
	</div>
<% end %>
	</div>
</div>
<div class="fill"></div>
