<!-- add and edit chemicals -->
<!-- only add chemicals to an item -->
<script>


var addNewChemical = "<label>IUPAC name</label><input type='text' name='iupac'><br><label>Formula</label><input type='text' name='formula'><br><label>Description</label><input type='text' name='description'><br><label>LD50</label><input type='text' name='ld50'><br><label>Origin</label><input type='text' name='origin'><br><label>Image</label><input type='file' name='image'><br>";

var edit = "<input type='file' name='chemical[image]' accept='image/*'><br>";

	$(document).ready(function(){
		$("#addNewChemical").click(function(){
			console.log("we are hovering");
			$("#adding_a_new_chemical").html(addNewChemical);
		});
		$('img').click(function(){
			console.log("clicked the image");
			$('#chemical_image_upload').append(edit);
		});
		$("#add_a_chemical").submit(function(){
			$.post(
				$(this).attr('action'),
				$(this).serialize(),
				function(data){
					if (data.status == "success"){
						$(".notice").html(data.message);
						$("#add_new_chemical").slideToggle(1000, function(){
							$("#editing_chemicals").slideToggle(1000);
						})
					}
					console.log("data received from ajax call", data);
					console.log(data.status);
				}, "json");
			return false;
		});
		$('#confirm_chemical').click(function(){
			console.log("confirmed!");
			$('#editing_chemicals').slideUp(1000, function(){

			$('#editing_categories').slideToggle(1000);
			});
			});
			// $("#categorize").html(addCategories);
		// });
		$("#categorize").click(function(){
			$("#editing_categories").slideToggle(1000, function(){

			})
		})
		$('#select_a_category').submit(function(e){
			e.preventDefault();
			$.post(
				$(this).attr('action'),
				$(this).serialize(),
				function(data){
					console.log(data);
				for (i=0; i<data.subcategories.length; i++)
				{
					var id = data.subcategories[i].id
					var subcategory = "<input type='checkbox' name='subcat[]' value="+id+">"+data.subcategories[i].name+"</input><br>";
					if (i==0){
						$('.appendedsubcat').html(subcategory);
					}
					else{
					$('.appendedsubcat').append(subcategory);
					}
				}
				}, 
				'json');
			return false;
			});
		});

</script>
<div class="other row">
	<div class="notice col-md-12">
		<% if flash[:errors] %>
		<% flash[:errors].each do |e| %>
		<%= e %>
		<% end %>
		<% end %>

		<% if flash[:success] %>
		<% flash[:success].each do |s| %>
		<%= s %>
		<% end %>
		<% end %>
		<div>
	</div>
	<div id="workspace" class="col-md-4">
		<h4>Current Item: <%=@currentItem.name%> (<a href="/items/">edit</a>)</h4>	
		<div id="added_chemicals">
		<%if @addedChemicals %>
		<% @addedChemicals.each do |added| %>
			<div class="added"><img src="/assets/delete.png"><%= added.name %></div>
		<% end %>
		<% end %>
		</div>
	</div>
	<div class="col-md-8">
		<div id="add_new_chemical">
		<%= render partial: '/shared/addchemical.html.erb'%>
		</div>
		<div id="editing_chemicals">
				<%= render partial: '/shared/editchemical.html.erb'%>
				<button id="confirm_chemical">Confirm</button>
		</div>
		<div id="editing_categories">
			<%= render partial: '/shared/editcategory.html.erb'%>
		</div>		
	</div>
</div>