<div class="admin row">
<div class="admin-div col-md-2">
	<h3>Ingredients</h3>
		<%@chemicals.each do |c| %>
	<div class="added">
	<%= c.name %>
	</div>
		<% end %>
	</div>
	<div class="admin-div col-md-4">
		<div id="arrow-back">
			<%= link_to image_tag('back.png'), "/items/new"%>
		</div>
	<fieldset class="col-md-12">
		<legend class="edit-item">
			<div class="toggle">
				<img src="/assets/down.png">
			</div>
			Step 1: Edit item
		</legend>
		<form action="/items/<%=@item.id%>" method="post">
			<div class="form-group">
			<input name="_method" type="hidden" value="patch">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<label>Name</label><input type="text" class="form-control" name="item[name]" value="<%=@item.name%>"><br>
			<label>Description</label><textarea name="item[description]" class="form-control"><%=@item.description%></textarea><br>
			<label>Click Image to Edit</label><div id="edit-image"><%= image_tag(@item.image)%></div><br>
			<div id="edit-image-div"></div>
			<button>Edit Item</button>
			</div>
		</form>
	</fieldset>
</div>
<div class="admin-div col-md-4">
	<fieldset class="col-md-12">
	<legend class="add-chemical"><div class="toggle"><img src="/assets/right.png"></div>Step 2: Add Chemicals to Item</legend>
		<%= render partial: '/shared/addchemical.html.erb'%>
	</fieldset>
</div>
	</div>