<script>

var editItem = "<input type='file' name='item[image]'><br>";

var editChemical = "<input type='file' name='chemical[image]' accept='image/*'><br>";

var addNewChemical = "<label>IUPAC name</label><input type='text' name='iupac'><br><label>Formula</label><input type='text' name='formula'><br><label>Description</label><input type='text' name='description'><br><label>LD50</label><input type='text' name='ld50'><br><label>Origin</label><input type='text' name='origin'><br><label>Image</label><input type='file' name='image'><br>";


	$(document).ready(function(){

		$('#edit-image img').click(function(){
			console.log("clicked image!");
			$('#edit-image-div').append(editItem);
		});
		$('legend img').click(function(){
			if ($(this).attr("src") === '/assets/down.png'){
				$(this).attr("src", '/assets/right.png');
				$(this).parent().parent().siblings().slideToggle(1000)
			}
			else {
				$(this).attr("src", '/assets/down.png');
				$(this).parent().parent().siblings().slideToggle(1000)
			}
		});
		$("#addNewChemical").click(function(){
			$("#adding_a_new_chemical").html(addNewChemical);
		});
	});

</script>
	<%= render partial: '/shared/adminheader.html.erb'%>
<div class="admin row">
	<div class="admin-div col-md-3">
	<h3>Ingredients</h3>
		<%@chemicals.each do |c| %>
	<div class="added">
	<%= c.name %>
	</div>
		<% end %>
	</div>
	<div id="edit-item-steps" class="admin-div col-md-8">
		<div id="arrow-back">
			<%= link_to image_tag('back.png'), "/items/new"%>
		</div>
	<fieldset class="col-md-12">
		<legend class="edit-item">
			<div class="toggle">
				<img src="/assets/down.png">
			</div>
			Step 1: Edit item
		</legend>
		<form action="/items/<%=@item.id%>" method="post">
			<input name="_method" type="hidden" value="patch">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<label>Name</label><input type="text" name="item[name]" value="<%=@item.name%>"><br>
			<label>Description</label><textarea name="item[description]"><%=@item.description%></textarea><br>
			<label>Click Image to Edit</label><div id="edit-image"><%= image_tag(@item.image)%></div><br>
			<div id="edit-image-div"></div>
			<button>Edit Item</button>
		</form>
	</fieldset>
	<fieldset class="col-md-12">
	<legend class="add-chemical"><div class="toggle"><img src="/assets/right.png"></div>Step 2: Add Chemicals to Item</legend>
		<%= render partial: '/shared/addchemical.html.erb'%>
	</fieldset>
	</div>
</div>
<!-- 	<form action="/items/confirm" method="post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<button>Confirm Item</button>
	</form>
	<form action="/admins/item" method="post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<button>Add a New Item</button>
	</form> -->