<!-- Add or Edit an Item -->
<!-- items/new -->

<script>

var edit = "<input type='file' name='item[image]'><br>";

	$(document).ready(function(){
	
		$('#confirm_chemical').click(function(){
			console.log("confirmed!");
			$("#categorize").html(addCategories);
		});
		$('img').click(function(){
			console.log("clicked image!");
			$('#edit_image').append(edit);
		});
	});

</script>
<div class="literacy_sidebar">
		<h3>Welcome, <%= @admin.username %>, you lovely person!</h3>
		<ul>
			<li><a href="/items/new">Add Item</a></li>
			<li><a href="#">Edit an item</a></li>
			<li><a href="#">Literacies</a></li>
			<li><a href="#">GMOs</a></li>
			<li><a href="#">Chemicals</a></li>
		</ul>
</div>
<div class="other">
<% if @currentItem %>
			<h3>Edit Item!</h3>
			<form id="edit_added_item" action="/items" method="post">
				<input name="_method" type="hidden" value="patch">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<label>Name</label><input type="text" name="item[name]" value="<%=@currentItem.name%>"><br>
				<label>Description</label><textarea name="item[description]"><%=@currentItem.description%></textarea><br>
				<label>Click Image to Edit</label><%= image_tag(@currentItem.image)%><br>
				<div id="edit_image"></div>
				<button>Edit Item</button>
			</form>
				<form action="/items/confirm" method="post">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<button>Confirm Item</button>
				</form>
				<form action="/admins/item" method="post">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<button>Add a New Item</button>
				</form>
<% else%>
				<% if flash[:errors] %>
					<% flash[:errors].each do |e| %>
						<%= e %>
					<% end %>
				<% end %>
			<h3>Add an Item!</h3>
			<form id ="add_an_item" action="/items" method="post">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<label>Name</label><div id="item_name" class="appended"><input type="text" name="item[name]"></div><br>
				<label>Description</label>
				<div id="item_description" class="appended"><textarea name="item[description]"></textarea></div><br>
				<label>Upload Image</label><input type="file" name="item[image]" accept="image/*"><br>
				<button class="add">Add Item!</button><br>
			</form>
			<h3>Or Edit an Item!</h3>
			<form action="/items/edit" method="post">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<select name="id">
					<% @items.each do |i|%>
					<option value="<%=i.id%>"><%= i.name%></option>
					<% end %>
				</select>
				<button>Go</button>
			</form>
<% end %>
</div>
<div class="fill"></div>
