
<script>
$(document).ready(function(){

$('div.column2 a').click(function(e){
	e.preventDefault();
	$.post(
		$(this).attr('href'),
		$(this).serialize(),
		function(data){
			var tags = "";
			for (i=0; i<data.categories.length; i++){
				if (i==data.categories.length -1){
					tags += "<a class='category' href='/categories/subcats/"+data.categories[i].subcat_id+"'>#"+data.categories[i].subcat_name +"</a>, <a class='category' href='/categories/cats/"+data.categories[i].cat_id+"'>#"+data.categories[i].cat_name+"</a>";
				}
				else {
					tags += "<a class='category' href='/categories/subcats/"+data.categories[i].subcat_id + "'>#"+data.categories[i].subcat_name+"</a>, ";
				}
			}
			var info = "<div id='literacy'><h2>Chemical Literacy</h2><ul><li><img src='/assets/"+data.chemical.image+"'></li><li><span class='underline'><h4>Name: </h4></span> "+data.chemical.name+"</li><li><span class='underline'><h4>Origin: </h4></span> "+data.chemical.origin+"</li><li><span class='underline'><h4>IUPAC:</h4></span> "+data.chemical.iupac+"</li><li><span class='underline'><h4>Formula: </h4></span> "+data.chemical.formula+"</li><li><span class='underline'><h4>LD50:</h4></span> "+data.chemical.ld50+" mg/kg</li><li><span class='underline'><h4>Description: </h4></span> "+data.chemical.description+"</li><li><span class='underline'><h4>Categories:</h4></span> "+tags+"</li></ul></div>"; 
			$("#literacy_sidebar").html(info);
		}, "json" );
	return false;
});
});
</script>
<div class="display">
	<!-- two column format -->
		<div id="literacy_sidebar">
			<div id='literacy'><h2>Chemical Literacy</h2><ul><li><img src='/assets/water.png'></li><li><span class='underline'><h4>Name: </h4></span><%= @water.name %></li><li><span class='underline'><h4>Origin: </h4></span> <%= @water.origin %></li><li><span class='underline'><h4>IUPAC:</h4></span><%= @water.iupac%></li><li><span class='underline'><h4>Formula: </h4></span><%= @water.formula %></li><li><span class='underline'><h4>LD50:</h4></span> <%= @water.ld50 %> mg/kg</li><li><span class='underline'><h4>Description: </h4></span><%= @water.description%></li><li><span class='underline'><h4>Categories:</h4></span><a href="">#inorganic</a>, <a href="#">#water</a></li></ul></div>
		</div>
	<div id="display_box">
		<div class='back'>
			<%= link_to image_tag('back.png'), "/items/index"%>
		</div>
		<div class="column1">
			<h1><%= @item.name %></h1>
			<%= image_tag(@item.image)%>
			<p><%= @item.description%></p>
		</div>
	<!-- Second column -->
		<div class="column2">
				<h2>Chemicals</h2>
					<p><% @chemicals.each do |c| %>
					<% if c == @chemicals.last %>
						<a href="/chemicals/<%= c.chemical_id%>"><%= c.name %></a> (<%= c.percentage %>%)
					<% else %> 
						<a href="/chemicals/<%=c.chemical_id%>"><%= c.name %></a> (<%= c.percentage %>%),
					<% end %> 
					<% end %></p>
				<h2>Genetic Modifications</h2>
				<p>There are no registered genetic modifications at this time</p>
		</div>
	</div>
</div>