<!-- add and edit chemicals -->
<!-- only add chemicals to an item -->
<script>
	$(document).ready(function(){
		$("#categorize").click(function(){
			console.log("we are hovering");
			$("#adding_a_new_chemical").html(addNewChemical);
		});
		$('#select_a_category').submit(function(e){
			e.preventDefault();
			$.post(
				$(this).attr('action'),
				$(this).serialize(),
				function(data){
					console.log(data);
				for (i=0; i<data.subcategories.length; i++)
				{
					var id = data.subcategories[i].id
					var subcategory = "<input type='checkbox' name='subcat[]' value="+id+">"+data.subcategories[i].name+"</input><br>";
					if (i==0){
						$('.appendedsubcat').html(subcategory);
					}
					else{
					$('.appendedsubcat').append(subcategory);
					}
				}
				}, 
				'json');
			return false;
			});

		});

</script>

<div class="literacy_sidebar">
		<h3>Welcome, <%= @admin.username %>, you lovely person!</h3>
		<ul>
			<li><a href="/items/new">Add Item</a></li>
			<li><a href="#">Edit an item</a></li>
			<li><a href="#">Literacies</a></li>
			<li><a href="#">GMOs</a></li>
			<li><a href="#">Chemicals</a></li>
		</ul>
</div>

	<div class="other">
		<% if flash[:errors] %>
		<% flash[:errors].each do |e| %>
		<%= e %>
		<% end %>
		<% end %>

		<% if flash[:success] %>
		<% flash[:success].each do |s| %>
		<%= s %>
		<% end %>
		<% end %>

		<% if session[:item_id] %>
		<div id="items">
				<h3>Current Item: <%=@currentItem.name%><a href="/items/new"></h3><button>Edit <%=@currentItem.name%></button></a></h3>
		</div>
		<% end %>

		<!-- edit chemical -->

<!-- this part renders all added chemicals for this particular item -->
	<div id="added_chemicals">
		<%if @addedChemicals %>
		<h3> Added Chemicals </h3>
		<% @addedChemicals.each do |added| %>
			<div class="added"><%= added.name %></div>
		<% end %>
		<% end %>
	</div>
	<!-- this renders current chemical -->
<!-- renders option to categorize the chemical -->
	<div id="categorize_chemical">
	<% if !session[:categorized] %>
		<h3>Add a Category & Subcategory to <%= @currentChemical.name %></h3>
		<table>
			<thead>
				<th>Category</th>
				<th>Subcategory</th>
				<th>Percentage</th>
				<th>Action</th>
			</thead>
			<tbody>
				<tr>
					<td>
						<form id ='select_a_category' action='/categories/selectCat' method='post'>
							<input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'>
							<select name='category' id='cat'><% @categories.each do |category| %>
								<option value='<%=category.id%>:<%=session[:chemical_id]%>'><%=category.name%></option>
							<% end %></select><br>
							<button>Add Category</button>
						</form>
					</td>
					<td>
						<form action='/categories' method='post'>
						<input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'>
						<div class="appendedsubcat"></div>
					</td>
					<td>
						<input type="text" id="percent" name="percentage">%
					</td>
					<td>
						<button>Categorize</button></form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<% else %>
	<form action='/admins/chemical' method='post'>
		<input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'><button>Add Another Chemical</button></form>
	<% end %>

	</div>
</div>
<div class="fill"></div>
