
<%= render partial: '/shared/header.html.erb'%>
<div id="application">
	<h1>Welcome to Chem<span class="italic">Query</span>!</h1>
	<p>Your trusted source for nature's ingredients</p>
	<a href="/items"><button id="goToApp"><h2>Enter</h2></button></a>
</div>
<div id="news" class="other row">
<!-- <h1>Tech Spotlight</h1> -->
	<div class="newsbox col-md-5 col-md-offset-1">
		<h3>Chemical Spotlight</h3>
		<div class="newsscroll">
			<%= image_tag(@chemical.image)%>
			<p><span class="underline">Name</span> <%=@chemical.name%></p><br>
			<p><span class="underline">Formula</span> <%=@chemical.formula%></p><br>
			<p><span class="underline">Origins</span> <%=@chemical.origin%></p><br>
			<p><span class="underline">Description</span> <%=@chemical.description%></p><br> 
		</div>

	</div>
	<div class="newsbox col-md-5">
		<h3>Genetic Modification Spotlight</h3>
		<p><span class="underline">Name</span> <%= @g.name%></p><br>
		<p><span class="underline">Description</span> <%=@g.description%></p><br>
		<p><span class="underline">DNA source</span> <%=@g.dna_source%></p><br>
		<p><span class="underline">Trait</span> <%=@g.trait%></p><br>
	</div>

</div>
<div id="about">
	<h1>Mission</h1>
	<div id="aboutus">
	<p>We are a site devoted to bringing the public accurate information about their food based on science. All information is pulled from sources readily (or not-so-readily) available online and in academic journals.</p>
	<p>One of the main goals of this site is to address and dispel public chemophobia (fear of chemicals). We hope to do this with an introduction to chemical literacy. This means becoming familiar with what chemicals are and what their role is in our lives. </p> 
	<p>Finally, we also hope to address and relieve a deep-rooted fear and stigma of genetically modified organisms (GMOs). GMOs have been around since our earliest ancestors first started growing and domesticating crops. Today's GMOs are a beautiful sign of technological advancement, and we want to show you why... </p></div>
</div>
<div class="other">
	<h1>Acknowledgements</h1>
	<p>With data for 12 fruits from James Kennedy Monash's "Ingredients" series (which are awesome, check them out <a href="https://jameskennedymonash.wordpress.com/category/infographics/all-natural-banana-and-other-fruits/">here</a>).</p><br>
	<p>GMO data readily available from the International Service for the Acquisition of Agri-Biotech Applications (ISAAA) <a href="http://www.isaaa.org/gmapprovaldatabase/">database</a>.</p><br>
	<p>Futher references to be added as we use them in this site. </p>
</div>