<!DOCTYPE html>
<html>
<head>
  <title>Chemophilia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div id="container">
	<div id="header">
		<ul>
			<li><a href="/application/index">Home</a></li>
			<li><a href="/application/index#news">News</a></li>
			<li><a href="/#about">Mission</a></li>
			<li><a href="/items">App</a></li>
			<form action="/items/search" method="get"><input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<li class="search"><input type="submit" value="Search"></li>
			<li class="search">
				<input type="search" name="item" placeholder="Item name...">
			</li>
			</form>
		</ul>
	</div>
<!-- 	<% if session[:admin_id] %>
		<%= render partial: '/shared/adminheader.html.erb' %>
	<% end %> -->

		<%= yield %>
</div>
<div id="footer">&#169; ABIGAIL DOMMER | <a href="/admins">Admins</a> | <a href="#">Contact</a> | 
<% if session[:admin_id] %> <a href="/admins" data-method="delete">Logout</a> <% end %>
</div>
</body>
</html>

